.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
  object-fit: cover;
  background: #161616;
}
.key-title {
  color: white;
  font-family: popins;
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  position: relative;
  margin-top: 3%;
}
.key-title > div {
  position: absolute;
  top: 90%;
  left: 42%;
  width: 15.8%;
  height: 5px;
  color: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
}

.row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;

  margin-bottom: 2%;
  margin-top: 9%;
}

.box {
  width: 193px;
  height: 215px;
  border: 1px solid black;
  margin: 5px;
  background: linear-gradient(
    170deg,
    rgba(0, 0, 0, 0.8) 62.45%,
    rgba(0, 67, 145, 0.7) 92.7%
  );
  color: white;
}
.box-info {
  font-family: Montserrat;
  color: white;
  font-size: 14px;
  position: relative;
  text-align: center;
  margin-top: 26%;
  font-weight: 500;
  max-width: 85%;
  margin-left: 7%;
}
.box-head {
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  align-content: center;
  text-align: center;
  margin-top: 5%;
  max-width: 80%;
  margin-left: 10%;
}
.box2 {
  width: 193px;
  height: 215px;
  border: 1px solid black;
  margin: 5px;
  background: linear-gradient(
    177deg,
    rgba(72.66, 72.66, 72.66, 0.17) -2%,
    black 100%
  );
  color: white;
  align-content: center;
  text-align: center;
}
.row2 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;

  margin-bottom: 2%;
  margin-top: 1%;
}
.align-info {
  margin-top: 18%;
}
