*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #161616 !important;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

.navbar{
    height: 80px;
    width: 100%;
    background-color: black;
}

.Emerging-bg{
  height: 550px;
  width: 100%;
  position: relative;

}

#video-background{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Emg-top-txt{
    height: 25%;
    width: 100%;
    position: absolute;
    bottom: 42%;
    left: 0%;
}

.Emg-top-txt h1{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 350%;
    padding-left: 3%;
    color: #FFF;
}

.Emg-top-txt p{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 120%;
    padding-top: 1%;
    padding-left: 3%;
    color: #FFF;
}




/* Emerging Details.... */

.emg-details{
    height: 50px;
    width: 100%;
}

.emg-details h1{
    font-family: "Inter", sans-serif;
    font-weight: 600; 
    font-size: 200%;
    padding-left: 4%;
    color: #fff;
}

.emg-details h1 span{
    color: #1ED797;
}

.emg-box-container{
    height: 520px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.emg-box-1,.emg-box-2,.emg-box-3,.emg-box-4{
    height: 100%;
    width: 21.5%;
    border-radius: 20px !important;
    position: relative;
}

.emg-box-1{
    background-image: url("../IMAGES/details-1.png");
    background-size: cover;

}

.emg-box-2{
    background-image: url("../IMAGES/details-2.png");
    background-size: cover;
}

.emg-box-3{
    background-image: url("../IMAGES/details-3.png");
    background-size: cover;
}

.emg-box-4{
    background-image:url("../IMAGES/details-4.png");
    background-size: cover;
}

.emg-details-head{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 10%, rgba(0,0,0,0) 90%);
}
.emg-box-1 h3,.emg-box-2 h3,.emg-box-3 h3,.emg-box-4 h3{
    font-family: "Inter", sans-serif;
    font-weight: 600; 
    font-size: 160%;
    padding-top: 5%;
    color: #fffffff5;
    text-align: center;
}

.emg-details-info-1{
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 100%;
    background: linear-gradient(180deg, #373636  -30%, #1c3a36 100%);
    transition: top 1s ease, opacity 1s ease;
    pointer-events: none;
    border-radius: 20px;
}

.emg-details-info-2{
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 100%;
    top: 0%;
    background: linear-gradient(180deg, #373636  -30%, #1c3a36 100%);
    transition: left 1s ease, opacity 1s ease;
    pointer-events: none;
    border-radius: 20px;
}

.emg-details-info-3{
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 0%;
    background: linear-gradient(180deg, #373636  -30%, #1c3a36 100%);
    transition: bottom 1s ease, opacity 1s ease;
    pointer-events: none;
    border-radius: 20px;
}

.emg-details-info-4{
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    bottom:0%;
    right:100%;
    background: linear-gradient(180deg, #373636  -30%, #1c3a36 100%);
    transition: right 1s ease, opacity 1s ease;
    pointer-events: none;
    border-radius: 20px;
}

.emg-details-info-1 h3,.emg-details-info-2 h3,.emg-details-info-3 h3,.emg-details-info-4 h3{
    font-family: "Inter", sans-serif;
    font-weight: 600; 
    font-size: 160%;
    padding-top: 10%;
    color: #fffffff5;
    text-align: center;
}

.emg-details-info-1 p,.emg-details-info-2 p,.emg-details-info-3 p,.emg-details-info-4 p{
    font-family: "Inter", sans-serif;
    font-weight: 300; 
    font-size: 110%;
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 2%;
    text-align: left;
    color: #fff;
}

.emg-details-info-1 ul,.emg-details-info-2 ul,.emg-details-info-3 ul,.emg-details-info-4 ul{
    padding-top: 6%;
    padding-left: 15%;
    font-size: 110%;
}

.details-gap-top{
    padding-top: 3%;
}

.emg-box-1:hover .emg-details-info-1{
    top: 0%;
    opacity: 1;
    pointer-events: auto;
}

.emg-box-2:hover .emg-details-info-2{
    left: 0%;
    opacity: 1;
    pointer-events: auto;
}

.emg-box-3:hover .emg-details-info-3{
    bottom: 0%;
    opacity: 1;
    pointer-events: auto;
}

.emg-box-4:hover .emg-details-info-4{
    right: 0%;
    opacity: 1;
    pointer-events: auto;
}


/* Emerging diagram arc */

.Emg-benefits{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ben-img{
    height: 85%;
    width: 30%;
    background-image: url("../IMAGES/Benefits\ image.png");
    background-size: cover;
}

.ben-img-head{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 20%, rgba(0,0,0,0) 80%);

}

.ben-img-head h2{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 200%;
    color: #fff;
    padding-left: 5%;
    padding-top: 4%;
}

.ben-info{
    height:85% ;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ben-info-head{
    height: 10%;
    width: 100%;
}

.ben-info-head h2{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 180%;
    color: #fff;
    text-align: center;
}

.ben-dg{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dg-txt-box1{
    height: 16%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dg-txt-1{
    height: 100%;
    width: 30%;
}
.dg-txt-2,.dg-txt-3,.dg-txt-4,.dg-txt-5,.dg-txt-6{
    height: 100%;
    width: 35%;
}

.dg-txt-box2, .dg-txt-box3,.dg-txt-box4{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dg-container{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 11%;
}

.dg-box{
    height: 100%;
    width: 40%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    bottom: 0%;
    left: 30%;
}

.dg-box img{
    height: 90%;
    width: 85%;
}

.dg-info{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 100%;
    color: #fff;
}

.gap-right{
    padding-right: 12%;
}

.gap-left{
    padding-left:12%;
}

.gap-right-1{
    padding-right: 4%;
}

.gap-left-1{
    padding-left:3%;
}

.gap-right-3{
    padding-right: 0%;
}

.gap-left-3{
    padding-left:5%;
}

.sm-img-1{
    height: 23%;
    width: 5.5%;
    position: absolute;
    left: 33%;
    bottom: 0;
    background-image: url("../IMAGES/dg-bg-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-img-2{
    height: 23%;
    width: 5.5%;
    position: absolute;
    left: 30%;
    bottom: 30%;
    background-image: url("../IMAGES/dg-bg-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-img-3{
    height: 23%;
    width: 5.5%;
    position: absolute;
    left: 33%;
    bottom: 61%;
    background-image: url("../IMAGES/dg-bg-3.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-img-4{
    height: 23%;
    width: 5.5%;
    position: absolute;
    left: 47%;
    bottom: 80%;
    background-image: url("../IMAGES/dg-bg-5.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-img-5{
    height: 23%;
    width: 5.5%;
    position: absolute;
    right: 33%;
    bottom: 61%;
    background-image: url("../IMAGES/dg-bg-5.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-img-6{
    height: 23%;
    width: 5.5%;
    position: absolute;
    right: 30%;
    bottom: 30%;
    background-image: url("../IMAGES/dg-bg-6.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-img-7{
    height: 23%;
    width: 5.5%;
    position: absolute;
    right: 33%;
    bottom: -1.7%;
    background-image: url("../IMAGES/dg-bg-7.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sm-center-img{
    height: 60%;
    width: 90%;
}



/* Our service head... */

.our-ser-head{
    display: none;
    height: 40px;
    width: 100%;
    background-color: #161616 ;
}

.services-head {
    height: 100%;
    width: 100%;
    font-size: 160%;
    font-family: Inter;
    font-weight: 600;
    color: #FFF;
    margin-top: 1%;
    margin-left: 5%;
}

/* Emerging slide  */

.emg-slide-container{
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.emg-slide-box{
   height: 72%;
   width: 93%;
   margin-top: 2%;
}

.button-1,.button-2 {
            height: 100%;
            border-radius: 50px;
            width: 25%;
            text-align: center;
            border: none;
            background-color: transparent;
        }
        .button-1:hover {
            background-color: black;
        }
        .button-2:hover {
            background-color: black;
        }

      

        .button-1:hover .left-arrow {
            color: #fff;
        }
        .button-2:hover .right-arrow {
            color: #fff;
        }
        .pre {
            position: absolute;
            bottom: 0%;
            left: 0%;
        }
        .next {
            position: absolute;
            bottom: 0%;
            right: 0%;
        }


.indicators {
    text-align: center;
    position: absolute;
    bottom: 26%;
    left: 26%;
    width: 50%;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 5px;
    cursor: pointer;
}

.active {
    background-color: black; /* Change color for active indicator */
}

.but-container{
    height: 50px;
    width: 170px !important;
    position: absolute;
    left: 44%;
    border-radius: 50px;
    bottom: 8%;
    width: 12%;
    background-color: antiquewhite;
}

.slide-content{
    height: 100%;
    width: 100%;
}

.slide-content > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}



.slide-mobile{
  display: none !important;
  height: 100%;
  width: 100%;
}

.slide-info-1{
    height: 100%;
    width: 50%;
    background: linear-gradient(283deg, rgba(0, 80, 68, 0.70) 0%, rgba(39, 39, 39, 0.40) 98.86%);
}

.slide-info-mobile{
    height: 100%;
    width: 100%;
    background: linear-gradient(283deg, rgba(0, 80, 68, 0.70) 0%, rgba(39, 39, 39, 0.40) 98.86%);
}

.slide-info-mobile h1{
    height: 15%;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 200%;
    text-align: center;
    color: #fff;
    padding-top: 1%;
}

.slide-info-2{
    height: 100%;
    width: 50%;
    background: linear-gradient(283deg, rgba(55, 11, 79, 0.7) 0%, rgba(39, 39, 39, 0.40) 98.86%);
}

.slide-info-mobile-2{
    height: 100%;
    width: 100%;
    background: linear-gradient(283deg, rgba(55, 11, 79, 0.7) 0%, rgba(39, 39, 39, 0.40) 98.86%);
}

.slide-info-mobile-2 h1{
    height: 15%;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 200%;
    text-align: center;
    color: #fff;
    padding-top: 1%;
}

.slide-info-3{
    height: 100%;
    width: 50%;
    background: linear-gradient(283deg, rgba(16, 59, 93, 0.7) 0%, rgba(39, 39, 39, 0.40) 98.86%);
}

.slide-info-mobile-3{
    height: 100%;
    width: 100%;
    background: linear-gradient(283deg, rgba(16, 59, 93, 0.7) 0%, rgba(39, 39, 39, 0.40) 98.86%);
}

.slide-info-mobile-3 h1{
    height: 15%;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 200%;
    text-align: center;
    color: #fff;
    padding-top: 1%;
}

.slide-info-1 ul,.slide-info-2 ul{
    margin-left: 4%;
}

.slide-ul-font{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 105%;
}
.slide-info-head{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 200%;
    text-align: center;
    margin-top: 5%;
    color: #fff;
}

.slide-info-content{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 105%;
    height: 35%;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
  color: #fff;
}

.slide-info-content-2{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 105%;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
  color: #fff;
}


.slide-img{
    height: 100%;
    width: 50%;
}

.slide-img-1{
    height: 100%;
    width: 100%;
}



.right-arrow,.left-arrow{
    font-size: 200%;
    color: black;
    padding-bottom: 5%;
}

/* mobile division for slide */

.slide-mob-content-1{
    height: 42%;
    width: 100%;
    display: flex;
    justify-content:center;
    gap: 2%;
}

.img-mob-box{
    height: 100%;
    width: 40%;
}

.img-mob-1{
    height: 100%;
    width: 100%;
}

.mob-info-1{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mob-txt-1{
    height: auto;
    width: 100%;
}

.mob-info-2{
    height:43%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mob-txt-2{
    height: 100%;
    width: 95%;
}

/* media querry...... */

@media (max-width:1300px){

    /* Emerging Benefits........ */


    .Emg-benefits{
        height: 400px;
    }

    .ben-img-head h2{
        font-size: 160%;
    }

    .ben-info-head h2{
        font-size: 150%;
    }

    .dg-info{
        font-size: 80%;
    }

    .gap-left-1{
        padding-left: 4.5%;
    }

    .gap-left{
        padding-left: 13%;
    }

    .gap-right{
        padding-right: 13%;
    }


    /* Emerging details... */

    .emg-box-1 h3,.emg-box-2 h3,.emg-box-3 h3,.emg-box-4 h3{
        font-size: 140%;
    }

    .emg-details-info-1 h3,.emg-details-info-2 h3,.emg-details-info-3 h3,.emg-details-info-4 h3{
        font-size: 140%;
    }

    .emg-details-info-1 p,.emg-details-info-2 p,.emg-details-info-3 p,.emg-details-info-4 p{
        font-size: 100%;
    }

    .emg-details-info-1 ul,.emg-details-info-2 ul,.emg-details-info-3 ul,.emg-details-info-4 ul{
        font-size: 100%;
    }

    /* Emerging slide... */

    .slide-info-head{
        font-size: 180%;
    }

    .slide-info-content{
        font-size: 90%;
    }

    .slide-ul-font{
        font-size: 90%;
    }

    .slide-info-content-2{
        font-size: 90%;
    }
    
    .right-arrow,.left-arrow{
        font-size: 180%;
    }
        
}

@media (max-width:1100px){
    .Emg-top-txt h1{
        font-size: 300%;
    }

    .Emg-top-txt p{
        font-size: 100%;
    }


    /* Emerging Benefits........ */

    .Emg-benefits{
        height: 350px;
    }

    .ben-img-head h2{
        font-size: 120%;
    }

    .ben-info-head h2{
        font-size: 110%;
    }

    .dg-info{
        font-size: 60%;
    }

    
    /* Emerging details... */

    .emg-box-container{
        height: 470px;
    }

    .emg-box-1 h3,.emg-box-2 h3,.emg-box-3 h3,.emg-box-4 h3{
        font-size: 120%;
    }

    .emg-details-info-1 h3,.emg-details-info-2 h3,.emg-details-info-3 h3,.emg-details-info-4 h3{
        font-size: 120%;
    }

    .emg-details-info-1 p,.emg-details-info-2 p,.emg-details-info-3 p,.emg-details-info-4 p{
        font-size: 80%;
    }

    .emg-details-info-1 ul,.emg-details-info-2 ul,.emg-details-info-3 ul,.emg-details-info-4 ul{
        font-size: 80%;
    }

    .emg-details h1{
        font-size: 180%;
    }

        /* Emerging slide... */

        .emg-slide-container{
            height: 450px;
        }

        .slide-info-head{
            font-size: 160%;
        }
    
        .slide-info-content, .slide-ul-font,.slide-info-content-2{
            font-size: 80%;
        }
    

        .right-arrow,.left-arrow{
            font-size: 160%;
        }
           
        
    .but-container{
        height: 40px;
        width: 130px !important;
    }

    .indicator{
        width: 8px;
        height: 9px;
    }

}


@media (max-width:900px){

    .Emerging-bg{
        height: 450px;
    }
    .Emg-top-txt h1{
        font-size: 220%;
    }

    .Emg-top-txt p{
        font-size: 80%;
    }

      /* Emerging Benefits........ */

      .Emg-benefits{
        height: 300px;
    }

    .ben-img-head h2{
        font-size: 100%;
    }

    .ben-info-head h2{
        font-size: 90%;
    }

    .dg-info{
        font-size: 50%;
    }

    .gap-left-1{
        padding-left: 5%;
    }

    .gap-left{
        padding-left: 14%;
    }

        /* Emerging details... */

        .emg-box-container{
            height: 400px;
            margin-top: 0px;
        }
    
        .emg-box-1 h3,.emg-box-2 h3,.emg-box-3 h3,.emg-box-4 h3{
            font-size: 100%;
        }
    
        .emg-details-info-1 h3,.emg-details-info-2 h3,.emg-details-info-3 h3,.emg-details-info-4 h3{
            font-size: 100%;
        }
    
        .emg-details-info-1 p,.emg-details-info-2 p,.emg-details-info-3 p,.emg-details-info-4 p{
            font-size: 70%;
        }
    
        .emg-details-info-1 ul,.emg-details-info-2 ul,.emg-details-info-3 ul,.emg-details-info-4 ul{
            font-size: 70%;
        }
    
        .emg-details h1{
            font-size: 150%;
        }

        /* Emerging slide... */

        .emg-slide-container{
            height: 400px;
        }
        
        .slide-info-head{
            font-size: 140%;
        }
            
         .slide-info-content, .slide-ul-font,.slide-info-content-2{
            font-size: 70%;
        }
            
        
        .right-arrow,.left-arrow{
            font-size: 140%;
         }
                   
                
        .but-container{
            height: 35px;
             width: 110px !important;
        }
        
        .indicator{
            width: 6px;
             height: 7px;
             bottom: 25%;
         }
}



@media (max-width:750px){
          /* Emerging Benefits........ */

          .Emg-benefits{
            height: 230px;
        }
    
        .ben-img-head h2{
            font-size: 80%;
        }
    
        .ben-info-head h2{
            font-size: 70%;
        }
    
        .dg-info{
            font-size: 40%;
        }

        
        /* Emerging details... */

        .emg-box-container{
            height: 330px;
        }

        .emg-box-1 h3,.emg-box-2 h3,.emg-box-3 h3,.emg-box-4 h3{
            font-size: 90%;
        }
        .emg-details-info-1 h3,.emg-details-info-2 h3,.emg-details-info-3 h3,.emg-details-info-4 h3{
            font-size: 90%;
        }
    
        .emg-details-info-1 p,.emg-details-info-2 p,.emg-details-info-3 p,.emg-details-info-4 p{
            font-size: 60%;
        }
    
        .emg-details-info-1 ul,.emg-details-info-2 ul,.emg-details-info-3 ul,.emg-details-info-4 ul{
            font-size: 60%;
        }

        /* Emerging slide... */

        .emg-slide-container{
            height: 350px;
        }

        .slide-info-head{
            font-size: 120%;
        }
            
         .slide-info-content, .slide-ul-font,.slide-info-content-2{
            font-size: 60%;
        }
            
}

@media (max-width:600px){

    .Emerging-bg{
        height: 350px;
    }
    .Emg-top-txt h1{
        font-size: 160%;
    }

    .Emg-top-txt p{
        font-size: 60%;
    }

    /* Emerging Benefits........ */
    
    .Emg-benefits {
        height: 600px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .ben-img{
        height: 50%;
        width: 90%;
    }

    .ben-info{
        height: 35%;
        width: 90%;
    }

    .ben-img-head h2{
        font-size: 120%;
        width: 70%;
    }

    .ben-info-head h2{
        font-size: 110%;
    }

    .dg-info{
        font-size: 50%;
    }

    /* Emerging details... */

    .emg-box-container{
        height: 380px;
        justify-content: space-around;
        gap: 0%;
        overflow-x: auto;
        overflow-y: hidden;
    }
    
    .emg-box-container::-webkit-scrollbar{
        width: 0;
    }
    
    .emg-box-1,.emg-box-2,.emg-box-3,.emg-box-4{
        min-width:250px;
        margin-left: 2%;
    }

    .emg-box-1 h3,.emg-box-2 h3,.emg-box-3 h3,.emg-box-4 h3{
        font-size: 120%;
    }
    .emg-details-info-1 h3,.emg-details-info-2 h3,.emg-details-info-3 h3,.emg-details-info-4 h3{
           font-size: 120%;
    }
        
    .emg-details-info-1 p,.emg-details-info-2 p,.emg-details-info-3 p,.emg-details-info-4 p{
        font-size: 80%;
    }
        
    .emg-details-info-1 ul,.emg-details-info-2 ul,.emg-details-info-3 ul,.emg-details-info-4 ul{
        font-size: 75%;
    }

    .emg-details{
        height: 40px;
    }
    .emg-details h1{
        font-size: 120%;
    }

    /* Emerging Slide.....*/

    .slide-desktop{
        display: none !important;
    }

    .slide-mobile{
        display: block !important;
    }

    .emg-slide-container{
        height: 450px;
    }

    .slide-info-mobile h1, .slide-info-mobile-3 h1,.slide-info-mobile-2 h1{
        font-size: 120%;
        padding-top: 4%;
    }

    .emg-slide-box{
        height: 75%;
    }

    .slide-info-content{
        font-size: 70%;
        width: 95%;
        margin-left:3%;
    }

    .slide-ul-font{
        font-size: 70%;
    }

    .services-head{
        font-size: 120%;
    }

    .but-container{
        left:38%;
    }
}




@media (max-width:450px){

    /* Emerging benefit diagram.... */
    .Emg-benefits{
        height: 520px;
    }

    .ben-img-head h2{
        font-size: 100%;
    }

    .ben-info-head h2{
        font-size:90%;
    }
    
    .dg-info{
        font-size: 40%;
    }

   
}




@media (max-width:400px){


    .Emerging-bg{
        height: 250px;
    }
    .Emg-top-txt h1{
        font-size: 110%;
    }

    .Emg-top-txt p{
        font-size: 40%;
    }

        /* Emerging benefit diagram.... */
        .Emg-benefits{
            height: 430px;
        }
    
        .ben-img-head h2{
            font-size: 89%;
            width: 70%;
        }
    
        .ben-info-head h2{
            font-size:70%;
        }

        .ben-img{
            height: 53%;
            width: 90%;
        }
    
        .ben-info{
            height: 40%;
            width: 90%;
        }
        
        .dg-info{
            font-size: 35%;
        }

            /* Emerging details... */

    .emg-box-container{
        height: 350px;
    }
    
    
    .emg-box-1,.emg-box-2,.emg-box-3,.emg-box-4{
        min-width:230px;
    }

    .emg-box-1 h3,.emg-box-2 h3,.emg-box-3 h3,.emg-box-4 h3{
        font-size: 110%;
    }
    .emg-details-info-1 h3,.emg-details-info-2 h3,.emg-details-info-3 h3,.emg-details-info-4 h3{
           font-size: 110%;
    }
        
    .emg-details-info-1 p,.emg-details-info-2 p,.emg-details-info-3 p,.emg-details-info-4 p{
        font-size: 70%;
    }
        
    .emg-details-info-1 ul,.emg-details-info-2 ul,.emg-details-info-3 ul,.emg-details-info-4 ul{
        font-size: 65%;
    }

    .emg-details{
        height: 30px;
    }
    .emg-details h1{
        font-size: 100%;
    }

    /* Emerging slide... */

    .emg-slide-container{
        height: 400px;
    }

    .slide-info-mobile h1, .slide-info-mobile-3 h1,.slide-info-mobile-2 h1{
        font-size: 100%;
        padding-top: 4%;
    }


    .slide-info-content{
        font-size: 55%;
        width: 95%;
        margin-left:3%;
    }

    .slide-ul-font{
        font-size: 55%;
    }

    .services-head{
        font-size: 100%;
    }

    .right-arrow,.left-arrow{
        font-size: 120%;
     }
               
            
    .but-container{
        height: 30px;
         width: 95px !important;
    }
    
    .indicator{
        width: 5px;
         height: 6px;
     }

     .indicators{
        bottom: 22%;
     }

     .button-1,.button-2{
        padding-bottom: 30%;
     }

     
    .but-container{
        left:36%;
    }
}



@media (max-width:350px){

    /* Emerging Benefits......... */

    .Emg-benefits{
        height: 350px;
    }

    .dg-info{
        font-size: 30%;
    }
}




@media (max-width:300px){

    .Emerging-bg{
        height: 200px;
    }
    .Emg-top-txt h1{
        font-size: 90%;
    }

        .Emg-top-txt p {
            font-size: 40%;
        }
    
        /* Emerging benefit diagram.... */
    .Emg-benefits {
        height: 300px;
    }
    
    .ben-img-head h2 {
         font-size: 70%;
    }
    
    .ben-info-head h2 {
        font-size: 60%;
    }
    
    
    .dg-info {
        font-size: 27%;
    }


    /* Emerging slide.... */

    .emg-slide-container{
        height: 350px;
    }

    .slide-info-mobile h1, .slide-info-mobile-3 h1,.slide-info-mobile-2 h1{
        font-size: 90%;
        padding-top: 4%;
    }


    .slide-info-content{
        font-size: 50%;
        width: 95%;
        margin-left:3%;
    }

    .slide-ul-font{
        font-size: 50%;
    }

    .services-head{
        font-size: 90%;
    }


}