/* division 2 container */

.form-container {
  height: 900px;
  width: 100%;
}

#landingPageFormSection {
  width: 100%;
  height: 100%;
  transition: 2s;
  position: relative;
}
.landingPageFormContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  border-radius: 15px;
}
.landingPageFormNavLineContainer {
  width: 100%;
  height: 100%;
  align-content: center;
  display: grid;
  position: relative;
}
#landingPageFormNavLine {
  position: absolute;
  justify-self: center;
  align-self: center;
  top: 50%;
  z-index: 0;
}
#landingPageFormNavFirstCircle {
  position: absolute;
  left: 33.2%;
  align-self: center;
  z-index: 2;
}
#landingPageFormNavSecondCircle {
  position: absolute;
  left: 43%;
  align-self: center;
  z-index: 1;
}
#landingPageFormNavThirdCircle {
  position: absolute;
  left: 54%;
  align-self: center;
  z-index: 1;
}
#landingPageFormNavFourthCircle {
  position: absolute;
  left: 64%;
  align-self: center;
  z-index: 1;
}
.landingPageFormTitle {
  color: #fff;
  font-family: Montserrat;
  font-size: 150%;
  font-style: normal;
  top: 5%;
  left: 3.2%;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}
.landingPageFormTopLine {
  width: 93%;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 15%;
  justify-self: center;
}
.landingPageForm {
  width: 100%;
  height: 60%;
  border-radius: 15px;
  background: linear-gradient(254deg, #000 -10.9%, #012123 100%);
  display: grid;
  justify-content: center;
  position: relative;
}
.enterUrInfo {
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 20%;
  left: 3.2%;
}
.enterUrInfoName {
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 35%;
  left: 18%;
}
.enterUrInfoContact {
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 49%;
  left: 18%;
}
.enterUrInfoEmail {
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 63%;
  left: 18%;
  position: absolute;
}
.landingPageFormName {
  width: 38.15%;
  height: 6.5%;
  position: absolute;
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  top: 33%;
  left: 40%;
  border-radius: 5px;
  background: rgba(146, 146, 146, 0.05);
  box-shadow: -12.067px 12.067px 12.067px 0px rgba(255, 255, 255, 0.05) inset,
    12.067px -12.067px 12.067px 0px rgba(111, 111, 111, 0.05) inset;
  backdrop-filter: blur(6.274666786193848px);
}
.landingPageFormContactNo {
  width: 38.15%;
  height: 6.5%;
  position: absolute;
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  border-radius: 5px;
  top: 47%;
  left: 40%;
  background: rgba(146, 146, 146, 0.05);
  box-shadow: -12.067px 12.067px 12.067px 0px rgba(255, 255, 255, 0.05) inset,
    12.067px -12.067px 12.067px 0px rgba(111, 111, 111, 0.05) inset;
  backdrop-filter: blur(6.274666786193848px);
}

.landingPageFormEmail {
  width: 38.15%;
  height: 6.5%;
  position: absolute;
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  top: 61%;
  left: 40%;
  border-radius: 5px;
  background: rgba(146, 146, 146, 0.05);
  box-shadow: -12.067px 12.067px 12.067px 0px rgba(255, 255, 255, 0.05) inset,
    12.067px -12.067px 12.067px 0px rgba(111, 111, 111, 0.05) inset;
  backdrop-filter: blur(6.274666786193848px);
}
.landingPageFormBottomLine {
  width: 93%;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 80%;
  justify-self: center;
}
.landingPageFormFirstNextBtn {
  width: 16%;
  height: 10%;
  position: absolute;
  cursor: pointer;
  top: 87%;
  justify-self: center;
  border-radius: 30px;
  background: #d9d9d9;
  color: #000;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* start of second form */
#landingPageFormSectionVariant2 {
  width: 100%;
  height: 100%;
  transition: 2s;

  position: relative;
}
.landingPageFormNavLineContainer2 {
  width: 100%;
  height: 100%;
  align-content: center;
  display: none;
  position: relative;
}
#landingPageFormSectionVariant2 .landingPageFormContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  border-radius: 15px;
}
.landingPageFormNavLineContainer2 #landingPageFormNavLineFill {
  position: absolute;
  left: 33.2%;
  align-self: center;
}
#landingPageFormSectionVariant2 .landingPageForm2 {
  width: 100%;
  height: 60%;
  border-radius: 15px;
  background: linear-gradient(254deg, #000 -10.9%, #012123 100%);
  display: grid;
  justify-content: center;
  justify-self: center;
  position: relative;
}
#landingPageFormSectionVariant2 .enterUrCompanyInfo {
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 20%;
  left: 3.2%;
}
#landingPageFormSectionVariant2 .enterUrCompanyName {
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 35%;
  left: 18%;
}
#landingPageFormSectionVariant2 .enterUrStageOfProject {
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  width: 20%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 45%;
  left: 18%;
}
#landingPageFormSectionVariant2 .enterUrInfoSubject {
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 66%;
  left: 18%;
  position: absolute;
}
#landingPageFormSectionVariant2 .landingPageFormCompanyName {
  width: 38.15%;
  height: 6.5%;
  position: absolute;
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  top: 33%;
  left: 40%;
  border-radius: 5px;
  background: rgba(146, 146, 146, 0.05);
  box-shadow: -12.067px 12.067px 12.067px 0px rgba(255, 255, 255, 0.05) inset,
    12.067px -12.067px 12.067px 0px rgba(111, 111, 111, 0.05) inset;
  backdrop-filter: blur(6.274666786193848px);
}
#landingPageFormSectionVariant2 .landingPageFormSubject {
  width: 38.15%;
  height: 6.5%;
  position: absolute;
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  top: 65%;
  left: 40%;
  border-radius: 5px;
  background: rgba(146, 146, 146, 0.05);
  box-shadow: -12.067px 12.067px 12.067px 0px rgba(255, 255, 255, 0.05) inset,
    12.067px -12.067px 12.067px 0px rgba(111, 111, 111, 0.05) inset;
  backdrop-filter: blur(6.274666786193848px);
}
label {
  color: #fff;
  font-family: Poppins;
  font-size: 93.75%;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.radioInputNewProject {
  display: grid;
  position: absolute;
  grid-template-columns: 35px 3fr;
  top: 45%;
  left: 40%;
  justify-content: flex-start;
  align-content: center;
}
.radioInputAddOn {
  display: grid;
  position: absolute;
  top: 50%;
  left: 40%;
  align-content: center;
  justify-content: flex-start;
  grid-template-columns: 35px 3fr;
}
.radioInputMaintenance {
  display: grid;
  position: absolute;
  top: 55%;
  left: 40%;
  align-content: center;
  justify-content: flex-start;
  grid-template-columns: 35px 3fr;
}
.landingPageFormSecondNextBtn {
  width: 16%;
  height: 10%;
  position: absolute;
  top: 87%;
  justify-self: flex-start;
  right: 5%;
  cursor: pointer;
  border-radius: 30px;
  background: #d9d9d9;
  color: #000;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.landingPageFormSecondBackBtn {
  width: 16%;
  height: 10%;
  position: absolute;
  top: 87%;
  cursor: pointer;
  left: 5%;
  border-radius: 30px;
  background: #d9d9d9;
  color: #000;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* 3rd section starts here */
#landingPageFormSectionVariant3 {
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
}
#landingPageFormSectionVariant3 .landingPageFormContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  border-radius: 15px;
}
.landingPageFormNavLineContainer3 {
  width: 100%;
  height: 100%;
  align-content: center;
  display: none;
  position: relative;
}
.landingPageFormNavLineContainer3 #landingPageFormNavLineFill {
  position: absolute;
  left: 33.2%;
  align-self: center;
}
#landingPageFormSectionVariant3 .landingPageForm3 {
  width: 100%;
  height: 76.8%;
  border-radius: 15px;
  background: linear-gradient(254deg, #000 -10.9%, #012123 100%);
  display: grid;
  justify-content: center;
  justify-self: center;
  position: relative;
}
#landingPageFormSectionVariant3 .enterUrInfo {
  top: 16%;
}
#landingPageFormSectionVariant3 #landingPageFormNavLineFill {
  position: absolute;
  left: 32.2%;
  align-self: center;
}
#landingPageFormSectionVariant3 .landingPageFormSecondNextBtn {
  width: 16%;
  height: 7%;
  position: absolute;
  top: 89%;
  justify-self: flex-end;
  right: 5%;
  cursor: pointer;
  border-radius: 30px;
  background: #d9d9d9;
  color: #000;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#landingPageFormSectionVariant3 .landingPageFormSecondBackBtn {
  width: 16%;
  height: 7%;
  position: absolute;
  top: 89%;
  justify-self: flex-start;
  left: 5%;
  cursor: pointer;
  border-radius: 30px;
  background: #d9d9d9;
  color: #000;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#landingPageFormSectionVariant3 .landingPageServices {
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 25%;
  left: 10%;
}
.landingPageServicesInputContainer {
  display: grid;
  position: absolute;
  width: 54%;
  height: 23.4%;
  column-gap: 1.6%;
  row-gap: 6%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  top: 25%;
  left: 28%;
  /* justify-self: center; */
}
.landingPageServicesInputContainer > div {
  width: 100%;
  height: 100%;
  display: grid;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: rgba(146, 146, 146, 0.05);
  box-shadow: -12.067px 12.067px 12.067px 0px rgba(255, 255, 255, 0.05) inset,
    12.067px -12.067px 12.067px 0px rgba(111, 111, 111, 0.05) inset;
  backdrop-filter: blur(6.274666786193848px);
}
.selectedServices {
  background: rgba(30, 215, 96, 0.6) !important;
}
.landingPageServicesInputCloud {
  margin-left: 50%;
}
.landingPageServicesInputERP {
  margin-left: 50%;
}
.landingPageProducts {
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 55%;
  left: 10%;
}
.landingPageProductsInputContainer {
  display: grid;
  position: absolute;
  width: 54%;
  height: 23.4%;
  column-gap: 1.6%;
  row-gap: 6%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  top: 55%;
  left: 28%;
  cursor: pointer;
}
.landingPageProductsInputContainer > div {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: rgba(146, 146, 146, 0.05);
  box-shadow: -12.067px 12.067px 12.067px 0px rgba(255, 255, 255, 0.05) inset,
    12.067px -12.067px 12.067px 0px rgba(111, 111, 111, 0.05) inset;
  backdrop-filter: blur(6.274666786193848px);
}
.selectedProducts {
  background: rgba(30, 215, 96, 0.6) !important;
}
.landingPageProductsInputEquinox {
  grid-column: 2/3;
}
#landingPageFormSectionVariant3 .landingPageFormTopLine {
  top: 12.2%;
}
#landingPageFormSectionVariant3 .landingPageFormBottomLine {
  top: 84%;
}

/* hover grid elements */
.landingPageServicesInputContainer > div:hover {
  background: rgba(251, 251, 250, 0.234);
}

.landingPageProductsInputContainer > div:hover {
  background: rgba(251, 251, 250, 0.234);
}
/* section 4  */
#landingPageFormSection4 {
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
}
#landingPageFormSection4 .landingPageFormContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  border-radius: 15px;
}
.landingPageFormNavLineContainer4 {
  width: 100%;
  height: 100%;
  align-content: center;
  display: none;
  position: relative;
}
.landingPageFormNavLineContainer4 #landingPageFormNavLineFill {
  position: absolute;
  left: 33.2%;
  align-self: center;
}
#landingPageFormSection4 #landingPageFormNavLineFill {
  justify-self: center;
  align-self: center;
  z-index: 2;
}
#landingPageFormSection4 .landingPageForm4 {
  width: 100%;
  height: 68.2%;
  border-radius: 15px;
  background: linear-gradient(254deg, #000 -10.9%, #012123 100%);
  display: grid;
  justify-self: center;
  position: relative;
}
#landingPageFormSection4 .landingPageFormTitle {
  color: #fff;
  font-family: Montserrat;
  font-size: 150%;
  font-style: normal;
  top: 5.27%;
  left: 4.2%;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}
#landingPageFormSection4 .enterPlanMeeting {
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 18.32%;
  left: 4.2%;
}
.inputPlanMeetingContainer {
  display: flex;
  width: 294px;
  height: 24px;
  justify-content: center;
  align-items: flex-start;
  gap: 94px;
  flex-shrink: 0;
  position: absolute;
  font-family: Montserrat;
  font-size: 125%;
  top: 23.75%;
  left: 26%;
}
#landingPageFormSection4 .landingPageFormTopLine {
  position: absolute;
  top: 14.5%;
}
#landingPageFormSection4 label {
  color: #fff;
  font-family: Montserrat;
  font-size: 100%;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#landingPageFormSection4 .enterDate {
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  top: 33.82%;
  left: 6.6%;
}
.landingPageFormMeetingDate {
  position: relative;
  display: grid;
  align-content: center;
  justify-content: space-between;
  width: 333px;
  height: 39px;
  appearance: none;
  border-radius: 5px;
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  top: 32.5%;
  left: 28%;
  background: rgba(146, 146, 146, 0.05);
  box-shadow: -12.067px 12.067px 12.067px 0px rgba(255, 255, 255, 0.05) inset,
    12.067px -12.067px 12.067px 0px rgba(111, 111, 111, 0.05) inset;
  backdrop-filter: blur(6.274666786193848px);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
#LandingPageChooseDate {
  left: 60%;
  top: 32.5%;
  height: 39px;
  width: 39px;
  display: grid;
  position: absolute;
  z-index: 2;
}
#LandingPageChooseDate img {
  background-size: cover;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}
#LandingPageChooseTime {
  position: absolute;
  left: 60%;
  top: 42%;
  height: 39px;
  width: 39px;
  display: grid;
  position: absolute;
  z-index: 2;
}
#LandingPageChooseTime img {
  background-size: cover;
  align-self: center;
  justify-self: center;
  z-index: 2;
  cursor: pointer;
}
#landingPageFormSection4 .enterTime {
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  top: 44.13%;
  left: 6.6%;
}
.landingPageFormMeetingTime {
  position: absolute;
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  justify-content: space-between;
  appearance: none;
  display: grid;
  width: 333px;
  height: 39px;
  border-radius: 5px;
  background: rgba(146, 146, 146, 0.05);
  box-shadow: -12.067px 12.067px 12.067px 0px rgba(255, 255, 255, 0.05) inset,
    12.067px -12.067px 12.067px 0px rgba(111, 111, 111, 0.05) inset;
  backdrop-filter: 0;
  top: 42%;
  left: 28%;
  z-index: 0;
}
#meetingTime {
  position: absolute;
  top: 20%;
}
.landingPageFormAnyOtherQuestions {
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 52.32%;
  left: 4.2%;
  z-index: 0;
}
.landingPageFormAnyOtherQuestionsInput {
  position: absolute;
  align-content: start;
  width: 69%;
  height: 18.7%;
  top: 59.8%;
  left: 15.7%;
  color: #fff;
  font-family: Montserrat;
  font-size: 125%;
  font-style: normal;
  font-weight: 700;
  border-radius: 5px;
  background: rgba(146, 146, 146, 0.05);
  box-shadow: -12.067px 12.067px 12.067px 0px rgba(255, 255, 255, 0.05) inset,
    12.067px -12.067px 12.067px 0px rgba(111, 111, 111, 0.05) inset;
  backdrop-filter: blur(6.274666786193848px);
}
#landingPageFormSection4 .landingPageFormBottomLine {
  position: absolute;
  top: 83%;
}
#landingPageFormSection4 .enterRecordedMsg {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 225%;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  justify-self: center;
  align-self: center;
}
#landingPageFormSection4 .landingPageFormSecondNextBtn {
  height: 8%;
}
#landingPageFormSection4 .landingPageFormSecondBackBtn {
  height: 8%;
}
#landingPageFormSection5 {
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
}
#landingPageFormSection5 .landingPageFormContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  border-radius: 15px;
}

#landingPageFormSection5 #landingPageFormNavLineFill {
  justify-self: center;
  align-self: center;
  z-index: 2;
}
#landingPageFormSection5 .landingPageForm5 {
  width: 100%;
  height: 68.2%;
  border-radius: 15px;
  background: linear-gradient(254deg, #000 -10.9%, #012123 100%);
  display: grid;
  justify-self: center;
  align-self: center;
  position: relative;
}
#landingPageFormSection5 .landingPageFormTitle {
  color: #fff;
  font-family: Montserrat;
  font-size: 150%;
  font-style: normal;
  top: 5.27%;
  left: 4.2%;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}
#landingPageFormSection5 .landingPageFormBottomLine {
  position: absolute;
  top: 83%;
}

#landingPageFormSection5 .enterRecordedMsg {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 225%;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  justify-self: center;
  align-self: center;
}
.calendar {
  width: 333px;
  height: 252px;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  border-end-end-radius: 5px;
  position: absolute;
  opacity: 0;
  top: 50%;
  z-index: 2;
}

.date {
  display: flex;
  flex-wrap: wrap;
}

.date span {
  width: calc(100% / 7);
  height: calc(252px / 6);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.date span:hover {
  background-color: rgba(30, 215, 96, 1);
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 333px;
  background-color: black;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: 0%;
  opacity: 0;
  z-index: 3;
}

.controls button {
  background: #000;
  border: #000;
}

.landingPageClockInputmain-container {
  width: 330px;
  height: 227.5px;
  border-radius: 4.942px;
  background: black;
  box-shadow: -11.927px 11.927px 11.927px 0px rgba(255, 255, 255, 0.05) inset,
    11.927px -11.927px 11.927px 0px rgba(111, 111, 111, 0.05) inset;
  backdrop-filter: blur(6.201971530914307px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
  opacity: 0;
}

/* Style for the container */
.landingPageClockInputcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  overflow-y: auto;
  width: 100%;
}

/* Style for the time selector */
.time-selector {
  padding: 10px;
  border-radius: 5px;

  color: white;
  text-align: center;
  cursor: pointer;
}

/* Style for the selected time */
.selectedMin {
  background-color: rgba(30, 215, 96, 0.6);
}
.selectedHour {
  background-color: rgba(30, 215, 96, 0.6);
}
.selected {
  background-color: rgba(30, 215, 96, 0.6);
}
/* sliding effect */
#landingPageFormContainer > div {
  transition: transform 2s ease, display 2s ease !important;
}
.moveLeft {
  animation: moveLeft 2s ease;
  display: 0;
}
@keyframes moveLeft {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}
/* forSliding */
.LandingPageSlide-container {
  width: 60%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0%;
  left: 20%;
  padding: 0px;
  overflow: hidden;
}

.slide-container-1 {
  height: 15%;
  width: 100%;
  display: flex;
}

.slide-container-2 {
  display: flex;
  width: 100%;
  transition: transform 1s linear;
  height: 85%;
  flex-wrap: nowrap;
}

.image-slider {
  display: flex;
  transition: transform 1s linear;
  width: 100%; /* Adjusted to accommodate all images */
  height: 100%;
}

.slide-div {
  width: 100%;
  height: 120%;
  flex-shrink: 0;
}
@media screen and (min-width: 360px) and (max-width: 600px) {
  .form-container {
    height: 700px;
  }
  .landingPageServicesInputContainer {
    width: 55%;
    height: 24%;
  }
  .landingPageProductsInputContainer {
    width: 60%;
    height: 24%;
  }
  .LandingPageSlide-container {
    width: 80%;
    left: 10%;
  }
  .landingPageFormTitle {
    font-size: 16px;
  }
  .enterUrInfo {
    font-size: 14px;
  }
  .enterUrInfoName {
    font-size: 12px;
  }
  .landingPageFormName {
    font-size: 12px;
  }
  .enterUrInfoContact {
    font-size: 12px;
    width: 50px;
    top: 48%;
  }
  .landingPageFormContactNo {
    font-size: 12px;
  }
  .enterUrInfoEmail {
    font-size: 12px;
  }
  .landingPageFormEmail {
    font-size: 12px;
  }
  .landingPageFormFirstNextBtn {
    width: 25%;
    height: 7%;
    border-radius: 15px;
    font-size: 12px;
  }
  /* second form */
  #landingPageFormSectionVariant2 .enterUrCompanyInfo {
    font-size: 14px;
  }
  #landingPageFormSectionVariant2 .enterUrCompanyName {
    font-size: 12px;
    left: 12%;
  }
  #landingPageFormSectionVariant2 .landingPageFormCompanyName {
    font-size: 12px;
  }
  #landingPageFormSectionVariant2 .enterUrStageOfProject {
    font-size: 12px;
    left: 12%;
    width: 30%;
  }
  #landingPageFormSectionVariant2 .enterUrInfoSubject {
    font-size: 12px;
    left: 12%;
  }
  #landingPageFormSectionVariant2 .landingPageFormSubject {
    font-size: 12px;
  }
  label {
    font-size: 12px;
  }
  .landingPageFormSecondNextBtn {
    width: 25%;
    height: 7%;
    border-radius: 15px;
    font-size: 12px;
  }
  .landingPageFormSecondBackBtn {
    width: 25%;
    height: 7%;
    border-radius: 15px;
    font-size: 12px;
  }
  /* 3rd section starts here */
  #landingPageFormSectionVariant3 .landingPageServices {
    font-size: 12px;
    left: 5%;
  }
  .landingPageServicesInputContainer > div {
    font-size: 12px;
  }
  .landingPageProducts {
    font-size: 12px;
    left: 5%;
  }
  .landingPageProductsInputContainer > div {
    font-size: 12px;
  }
  #landingPageFormSectionVariant3 .landingPageFormSecondNextBtn {
    width: 25%;
    height: 7%;
    border-radius: 15px;
    font-size: 12px;
  }
  #landingPageFormSectionVariant3 .landingPageFormSecondBackBtn {
    width: 25%;
    height: 7%;
    border-radius: 15px;
    font-size: 12px;
  }
  /* section 4  */
  #landingPageFormSection4 .landingPageFormTitle {
    font-size: 16px;
  }
  #landingPageFormSection4 .enterPlanMeeting {
    font-size: 14px;
  }
  .inputPlanMeetingContainer {
    left: 15%;
    font-size: 12px;
  }
  #landingPageFormSection4 .enterDate {
    font-size: 12px;
  }
  .landingPageFormMeetingDate{
    font-size: 12px;
    width: 50%;
    left: 32%;
  }
  #LandingPageChooseDate{
    left: 70%;
  }
  .calendar{
    top: -10%;
    width: 200px;
    height: fit-content;
  }
  .controls{
    width: 200px;
    top: -25%;
  }
  #landingPageFormSection4 .enterTime {
    font-size: 12px;
  }
  .landingPageFormMeetingTime{
    font-size: 12px;
    width: 50%;
    left: 32%;
  }
  .landingPageClockInputmain-container{
    width: 200px;
    height: 200px;
  }
  #LandingPageChooseTime{
    left: 70%;
  }
  .landingPageFormAnyOtherQuestions {
    font-size: 12px;
  }
  .landingPageFormAnyOtherQuestionsInput {
    font-size: 12px;
  }
  /* section 5 starts */
  #landingPageFormSection5 .landingPageFormTitle {
    font-size: 16px;
  }
  #landingPageFormSection5 .enterRecordedMsg{
    font-size: 20px;
  }
}
