
.Fm-mmo{
    width: 100%;
    height: 520px;
    background: #071627;
}

.mmo-images{
    position: relative;
    top:35px;
    left:3%;
    max-width: 650px;
}

.mmo-text{
    position: relative;
    top:-386px;
    left: 53%;;
    max-width: 535px;
}
.mmo-head {
    color: white;
    font-family: Montserrat;
    word-wrap: break-word;
}
.mmo-head .M{
    font-size: 40px;
    font-weight: 700;
}
.mmo-head .achine {
    font-size: 24px;
    font-weight: 700;
}

.mmo-subhead
{
 position: relative;
 top:16px;
 left:-5px;;
 color: #8B929B;
 font-size: 16px;
 font-weight: 400;
 max-width: 485px;
 font-family: Montserrat;
 display: flex;
 flex-direction: column;
 align-items:center;
 text-align: center;
}
.mmo-info
{
     color: white;
     position: relative;
     top:60px;
     left:0%;;
     font-size: 16px;
     font-family: Montserrat;
     font-weight: 400;
     line-height: 28px;
     word-wrap: break-word;
     max-width: 511px;
}