body {
  overflow-x: hidden;
}
#rmtHandlingHomeSection {
  width: 100%;
  height: 35rem;
  background-image: url("../IMAGES/remoteHandlingHomeBgImg.png");
  background-size: 100% 100%;
  display: grid;
  position: relative;
}
.rmtHandlingHomeCtrColorLayer {
  width: 100%;
  height: 100%;
  background: rgba(0, 12, 17, 0.95);
}
.rmtHandlingHomeCtrPwrCtr {
  transition: 800ms;
  position: absolute;
  height: 15%;
  width: 9%;
  display: flex;
  top: 50%;
  left: 50%;
  flex-direction: column;
  z-index: 1;
  justify-content: center;
  align-items: center;
  transform: translate(-50%,-50%);
}

.rmtHandlingHomeCtrPwrText {
  transition: 700ms;
  color: #7e7e7e;
  font-family: Poppins;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  height: 20%;
  width: 100%;
  z-index: 1;
text-align: center;
}

.rmtHandlingHomeCtrPwrLogo {
  height: 70%;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rmtHandlingHomeCtrPwrLogo img {
  background-color: none;
  height: 90%;
  width: 55px;
}

.rmtHandlingHomeCtrTxtSection {
  width: 100%;
  height: 30%;
  color: #fff;
  position: absolute;
  left: -100%;
  top: 38%;
  z-index: 0;
  transition: 500ms;
}
.rmtHandlingHomeCtrTxtSection h1 {
  font-family: Poppins;
  font-size: 3.2rem;
  font-weight: 500;
  padding-left: 5%;
}
/* button transition */
.rmtHandlingHomeCtrColorLayer.turnOnPos {
  background: rgba(0, 12, 17, 0.35);
}

.rmtHandlingHomeCtrTxtSection.turnOnPos {
  transition: 800ms;
  left: 5%;
}
.rmtHandlingHomeCtrTxtSection.turnOnPos h1 {
  padding-left: 0% !important;
  transition: 1.3s;
}
.rmtHandlingHomeCtrPwrCtr.turnOnPos {
  top: 87%;
  left: 95.5%;
  transition: 800ms;
}

@keyframes shake1 {
  0%{
    top: 87%;
    left: 95.5%;
  }

  50%{
    top: 88%;
    left: 96.5%;
  }

  100%{
    top: 87%;
    left: 95.5%;
  }

  
}

@keyframes shake2 {
  0%{
    top: 50%;
  left: 50%;
  }

  50%{
    top: 49%;
    left: 49%;
  }

  100%{
    top: 50%;
    left: 50%;
  }

  
}




/* Remote Handling div 2 */

.remote-div2{
  background-color: #E4E4E4;
  width: 100%;
  height: 623px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.left-text{
  
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.right-img-div{
  height: 100%; 
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-gif-section{
  width: 530px;
  height:70%;
}

.machine-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.machine-gif{
  display: none;
  width:100%;
  height:100%;
  object-fit: cover;
  overflow: hidden;
}

.remote-head{
  width:max-content;
  height: auto;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  margin-top: 7%;
  margin-left: 11%;
}

.remote-text{
  color: black;
  width: 93%;
  height: auto;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  margin-left: 7%;
  margin-top: 5%;
}

.remote-img{
  
  width: 250px;
  height: 250px;
  margin-top: 8%;
  margin-left: 15%;
  background-image: url('../IMAGES/pngtree-mobile-tablet-transparent-png-png-image_5566181\ 1.png');
  background-repeat: no-repeat;
  z-index: 0;

  
  
}

.remote-on-off-text{
  
  width:max-content;
  height: auto;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  margin-top: 7%;
  margin-left: 7%;

}

.circle{
  height:100%;
  width: 100%;
  background-color: #11606d;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* circle{
  position: relative; 
  margin-top: 30%;
  fill: #11606D;
} */

/*svg{
  position: relative;
  top: 30%;
  left: 41%;
}*/

.on-button{
  position: relative;
  top: -42px;
  left: 3px;
}

.on-off-text{
  position: relative;
  top: 32%;
  left: 39.2%;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
}

.ON{
  color: #009669;
  margin-left: 1%;
  opacity: 1;
}

.OFF{
  color: #96002D;
  margin-left: -8%;
  opacity: 0;
}

.on-swap{
  color: black;
}
.off-swap{
  color: #928B8B;
}

.click-button{
  width: 40px;
  height: 40px;
  position: relative;
  top: 30%;
  left: 41%;
}

.fa-power-off{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  cursor: pointer;
  font-size: 32px;
}


/* Media Qurey... */

@media(max-width:1100px){
  .rmtHandlingHomeCtrTxtSection h1{
    font-size: 2.7rem;
  }

  /* Remote division 2 */

  .remote-div2 {
    height: 550px;
  }

  .remote-text{
    font-size: 15px;
  }

  .remote-head{
    font-size: 24px;
  }

  .remote-on-off-text{
    font-size: 18px;
  }

  .img-gif-section{
    width: 420px;
  }

}





@media(max-width:900px){

  #rmtHandlingHomeSection{
    height: 27rem;
  }
  .rmtHandlingHomeCtrTxtSection h1{
    font-size: 2.3rem;
  }

  .rmtHandlingHomeCtrPwrLogo img{
    width: 45px;
  }

  .rmtHandlingHomeCtrPwrText{
    font-size: 90%;
  }

    /* Remote division 2 */

    .remote-div2 {
      height: 500px;
    }
  
    .remote-text{
      font-size: 12px;
    }
  
    .remote-head{
      font-size: 22px;
    }
  
    .remote-on-off-text{
      font-size: 14px;
    }
  
    .img-gif-section{
      width: 350px;
      height: 60%;
    }

    .remote-img{
      height: 220px;
      width: 220px;
      background-size: contain;
    }



}

@media(max-width:750px){

  #rmtHandlingHomeSection{
    height: 23rem;
  }
  .rmtHandlingHomeCtrTxtSection h1{
    font-size: 2rem;
  }

  .rmtHandlingHomeCtrPwrLogo img{
    width: 35px;
  }

  .rmtHandlingHomeCtrPwrText{
    font-size: 80%;
  }
  
  
.rmtHandlingHomeCtrTxtSection{
  top: 42%;
}


    /* Remote division 2 */

    .remote-div2 {
      height: 400px;
    }
  
    .remote-text{
      font-size: 10px;
    }
  
    .remote-head{
      font-size: 18px;
    }
  
    .remote-on-off-text{
      font-size: 11px;
    }
  
    .img-gif-section{
      width: 300px;
      height: 60%;
    }

    .machine-img{
      object-fit: contain;
    }

    .machine-gif{
      object-fit:contain;
    }

    .remote-img{
      height: 170px;
      width: 170px;
      background-size: contain;
    }

    .click-button{
      height:30px;
      width: 30px;
    }

    .fa-power-off{
      font-size: 24px !important;
    }

    .on-off-text{
      font-size: 10px;
      left: 36.2%;
    }


}


@media(max-width:600px){

  #rmtHandlingHomeSection{
    height: 20rem;
  }
  .rmtHandlingHomeCtrTxtSection h1{
    font-size: 1.2rem;
  }

  .rmtHandlingHomeCtrPwrLogo img{
    width: 30px;
  }

  .rmtHandlingHomeCtrPwrText{
    font-size: 60%;
  }
  
  
.rmtHandlingHomeCtrTxtSection{
  top: 47%;
}

.rmtHandlingHomeCtrPwrCtr.turnOnPos {
  left: 93%;
}

@keyframes shake1 {
  0%{
    top: 87%;
    left: 93%;
  }

  50%{
    top: 88%;
    left: 94%;
  }

  100%{
    top: 87%;
    left: 93%;
  }

}

.rmtHandlingHomeCtrPwrCtr{
  width: 11%;
  height: 14%;
}


    /* Remote division 2 */

    .remote-div2 {
      height:300px;
    }
  
    .remote-text{
      font-size: 6px;
    }
  
    .remote-head{
      font-size: 15px;
    }
  
    .remote-on-off-text{
      font-size: 8px;
    }
  
    .img-gif-section{
      width: 200px;
      height: 60%;
    }

    .machine-img{
      object-fit: contain;
    }

    .machine-gif{
      object-fit:contain;
    }

    .remote-img{
      height: 140px;
      width: 140px;
      background-size: contain;
    }

    .click-button{
      height:25px;
      width: 25px;
    }

    .fa-power-off{
      font-size: 21px !important;
    }

    .on-off-text{
      font-size: 9px;
      left: 35%;
    }

}


@media(max-width:400px){

  #rmtHandlingHomeSection{
    height: 17rem;
  }
  .rmtHandlingHomeCtrTxtSection h1{
    font-size: 1rem;
  }

  .rmtHandlingHomeCtrPwrLogo img{
    width: 25px;
  }

  .rmtHandlingHomeCtrPwrText{
    font-size: 45%;
  }
  
  
.rmtHandlingHomeCtrTxtSection{
  top: 55%;
}

.rmtHandlingHomeCtrPwrCtr.turnOnPos {
  left: 90%;
}

@keyframes shake1 {
  0%{
    top: 87%;
    left: 90%;
  }

  50%{
    top: 88%;
    left: 91%;
  }

  100%{
    top: 87%;
    left: 90%;
  }

}

.rmtHandlingHomeCtrPwrCtr{
  width: 12%;
  height: 14%;
  top: 56%;
}

@keyframes shake2 {
  0%{
    top: 56%;
  left: 50%;
  }

  50%{
    top: 55%;
    left: 49%;
  }

  100%{
    top: 56%;
    left: 50%;
  }


}


    /* Remote division 2 */

    .remote-div2 {
      height:230px;
    }

    .left-text{
      width: 60%;
    }

    .right-img-div{
      width: 40%;
    }
  
    .remote-text{
      font-size: 6px;
    }
  
    .remote-head{
      font-size: 12px;
    }
  
    .remote-on-off-text{
      font-size: 6px;
    }
  
    .img-gif-section{
      width: 140px;
      height: 60%;
      margin-top: 10%;
    }

    .machine-img{
      object-fit: contain;
    }

    .machine-gif{
      object-fit:contain;
    }

    .remote-img{
      height: 110px;
      width: 110px;
      background-size: contain;
    }

    .click-button{
      height:20px;
      width: 20px;
    }

    .fa-power-off{
      font-size: 17px !important;
    }

    .on-off-text{
      font-size: 7px;
      left: 35%;
    }

}

