*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#161616 !important;
    overflow-x: hidden;
}


.drone-app-container {
    height: 650px;
    width: 100%;
    display: flex;
    background-color: #161616 !important;
    position: relative;
    overflow: hidden;
}

@keyframes changeBrightness {
    0% {
        filter: brightness(100%); /* Start with normal brightness */
    }
    25% {
        filter: brightness(180%); /* Increase brightness to 200% */
    }
    75% {
        filter: brightness(30%); /* Decrease brightness to 20% */
    }
    100% {
        filter: brightness(100%); /* Return to normal brightness */
    }
}

.bg-blur {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 3%;
    left: 2%;
}


.drone-img-box{
    height: 100%;
    width: 30%;
}

.drone-img-box img{
    height: 80%;
    width: 100%;
    margin-top: 5%;
}

.App-slide-container{
    height: 100%;
    width: 70%;
}

.App-slide-box{
    height: 70%;
    width: 100%;
    margin-top: 8%;
    position: relative;
}

.button {
    border-radius: 50px;
    width: 20%;
    border: none;
    background-color:transparent;
    text-align: center;
}
.pre {
    position: absolute;
    bottom: 0%;
    left: 0;
}
.next {
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.arrow-slide{
    height: 100%;
    width: 85%;
    padding-bottom: 3px;
}


.indicators {
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 22%;
}

.indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 10px;
    cursor: pointer;
}

.active {
    background-color: #cc1313; /* Change color for active indicator */
}

.but-container{
    height:40px;
    position: absolute;
    left: 41%;
    bottom: 5%;
    width:185px;
}


.content-container > div {
position: absolute;
width: 100%;
height: 100%;
opacity: 0; 
transition: opacity 0.5s ease;
}

.content-container > div.active1 {
opacity: 1;
}


.slide-info-container{
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.slide-info-box{
height: 70%;
width: 100%;
display: flex;
flex-direction: column;
}

.slide-head{
height: 30%;
width: 100%;
}

.slide-head h1{
font-family: "Poppins", sans-serif;
font-size: 200%;
font-weight: 500;
text-align: center;
padding-top: 2%;
color: #fff;
}

.txt-box{
height: 70%;
width: 100%;
display: flex;
}


.txt-box-1,.txt-box-2{
height: 100%;
width: 50%;
display: flex;
flex-direction: column;
}
.txt-box-head{
height: 33%;
width: 100%;
}

.txt-box-info{
height: 50%;
width: 100%;
}

.slide-sub-head-1{
    font-family: "Poppins", sans-serif;
font-size: 130%;
font-weight: 500;
text-align: center;
padding-top: 2%;
padding-left: 20%;
color: #BBB7B7; 
}

.slide-sub-head-2{  
font-family: "Poppins", sans-serif;
font-size: 140%;
font-weight: 500;
text-align: center;
padding-top: 2%;
padding-right: 10%;
color: #BBB7B7; 
}


.ul-container{
height: 100%;
width: 72%;
margin-left: 23%;

}

.ul-container-right{
height: 100%;
width: 72%;
margin-left: 10%;
text-align: center;
}




.slide-info-font{
font-family: "Montserrat", sans-serif;
font-size: 120%;
font-weight: 300;
color: #BBB7B7; 
text-align: center;
}

.bottom-spc{
margin-bottom: 0;
}


/* Appliction heading */

.App-head{
    height: 50px;
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    background-color:#161616;
   }

   .head-box{
    height: 100%;
    width: 18%;
    display: flex;
   }

   .head-box-1{
    height: 100%;
    width: 5%;
    background-color: #F9AC07;
   }

   .head-box-2{
    height: 100%;
    width: 95%;
    background-color: #009AA2;
   }

   .head-box-2 h1{
    font-family: "Poppins", sans-serif;
   font-size: 160%;
   font-weight: 600;
  text-align: center;
  color: #fff;
  padding-top:10px;
   }


   /* Benefits heading..... */


   .benifits-head{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:#161616;
   }

   .ben-head-box{
    height: 100%;
    width: 11%;
    display: flex;
   }

   .ben-head-box-2{
    height: 100%;
    width: 95%;
    background-color: #009AA2;
   }


   .ben-head-box-2 h1{
    font-family: "Poppins", sans-serif;
   font-size: 160%;
   font-weight: 400;
  text-align: center;
  color: #fff;
  padding-top:10px;
   }


   /* Drone Benefits  */



   .ben-container{
    height: 820px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.ben-img-box{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.left-line{
    display: none;
    height: 52%;
    width: 10%;
    position: absolute;
    bottom: 5%;
    left: 12%;
    background: url("../IMAGES/linegif-ezgif.com-cut.gif");
    background-size: cover;
}

.right-line{
    display: none;
    height: 52%;
    width: 10%;
    position: absolute;
    bottom: 5%;
    right: 13%;
    background: url("../IMAGES/linegif-ezgif.com-cut.gif");
    background-size: cover;
    transform: rotate(180deg);
    transform: rotateY(180deg);
}

.blue-circle{
    display: none;
    width: 110%;
    height: 142%;
    border-radius:50%;
    position: absolute;
    top: 38%;
    left: -5%;
    background-color: #345871;
}

.ben-container:hover .right-line{
    display: block;
}
.ben-container:hover .left-line{
    display: block;
}

.ben-img{
    height: 100%;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}



.ben-img img{
    height: 100%;
    width: 100%;
    position: relative;
    animation: drone-img 2.5s linear infinite ;
}

@keyframes drone-img{
    0%{
        bottom: 0%;
    }
    25%{
       bottom: 8%;
    }

    50%{
        bottom: 0%;
    }

    75%{
        bottom:-8%;
    }
    100%{
        bottom: 0%;
    }

}


.ben-info-box-1{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ben-info-1,.ben-info-2{
    height: 100%;
    width: 30%;
}

.ben-info-box-2{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.ben-info-3,.ben-info-4{
    height: 100%;
    width: 30%;
}

.ben-info-box-3{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ben-info-5{
    height: 100%;
    width: 30%;
}

.ben-info-head{
    font-family: "Poppins", sans-serif;
    font-size: 160%;
    font-weight: 400;
    text-align: center;
    padding-top: 2%;
    color: #fff;
}

.ben-info-txt{
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 110%;
    font-weight: 300;
    text-align: center;   
}

.ben-txt-2{
    font-size: 115%;
}



/* Media querry... */


@media(max-width:1100px){

    .ben-head-box{
        width: 12%;
    }
    .ben-head-box-2 h1{
        font-size: 140%;
        padding-top: 12px;
    }

        /* Benefits container */

        .ben-container{
            height:750px;
        }
    
        .ben-info-head{
            font-size: 140%;
        }
    
        .ben-info-txt{
            font-size: 90%;
        }

    /* Application Head */

    .head-box{
        width: 20%;
    }

    .head-box-2 h1{
        font-size: 140%;
    }

    /* Application slide */

    .drone-app-container{
        height: 650px;
    }

    .slide-head h1{
        font-size: 180%;
    }

    .slide-sub-head-1{
        font-size: 120%;
    }


    .slide-sub-head-2{
        font-size: 130%;
    }

    .slide-info-font{
        font-size: 110%;
    }
}



@media(max-width:900px){

    .benifits-head{
        height: 40px;
    }
    .ben-head-box{
        width: 12%;
    }
    .ben-head-box-2 h1{
        font-size: 110%;
        padding-top: 11px;
    }


    /* Benefits container */

    .ben-container{
        height:700px;
    }
        
    .ben-info-head{
        font-size: 120%;
    }
    
    .ben-info-txt{
        font-size: 70%;
    }

    .ben-img{
        width: 35%;
    }

    /* Application Head */

    .App-head{
        height: 40px;
    }

    .head-box{
        width: 20%;
    }
    
    .head-box-2 h1{
        font-size: 120%;
    }

    /* Application slide */

    .drone-app-container{
        height: 550px;
    }

    .slide-head h1{
        font-size: 160%;
    }

    .slide-sub-head-1{
        font-size: 110%;
        padding-left: 18%;
    }


    .slide-sub-head-2{
        font-size: 120%;
    }

    .slide-info-font{
        font-size: 100%;
    }

    .but-container{
        width: 150px;
        left: 38%;
    }

    .indicator{
        width: 13px;
        height: 13px;
        margin: 0 8px;
    }

    .ul-container{
        margin-left: 21%;
    }

}




@media(max-width:750px){

    .benifits-head{
        height: 40px;
    }

    .ben-head-box{
        width: 12%;
    }
    .ben-head-box-2 h1{
        font-size: 90%;
        padding-top: 11px;
    }

    
    /* Benefits container */

    .ben-container{
        height:650px;
        margin-top: 0px;
    }

    .ben-info-head{
        font-size: 110%;
    }

    .ben-info-txt{
        font-size: 75%;
    }

    .ben-info-1,.ben-info-2,.ben-info-3,.ben-info-4,.ben-info-5{
        width: 40%;
    }

    .left-line,.right-line{
        width: 25%;
    }


    .ben-img{
        width: 40%;
    }

    /* Application Head */

    
    .head-box{
        width: 22%;
    }
        
    .head-box-2 h1{
        font-size: 100%;
    }


    /* Application slide */

    .drone-app-container{
        height: 500px;
    }

    .slide-head h1{
        font-size: 140%;
    }

    .slide-sub-head-1{
        font-size: 100%;
        padding-left: 0%;
    }


    .slide-sub-head-2{
        font-size: 110%;
        padding-right: 0;
        margin-left: 10%;
    }

    .slide-info-font{
        font-size: 90%;
    }

    .ul-container{
        margin-left: 0;
        width: 95%;
    }

    .ul-container-right{
        width: 90%;
    }

    .but-container{
        left: 34%;
    }

}


@media(max-width:600px){

    .benifits-head{
        height: 30px;
    }

    .ben-head-box{
        width: 16%;
    }
    .ben-head-box-2 h1{
        font-size: 80%;
        padding-top: 8.5px;
    }

    /* Benefits Container */

    .ben-container{
        height:600px;
        gap: 2%;
    }

    .ben-img-box{
        height: 80%;
    }


    .ben-info-head{
        font-size: 90%;
    }

    .ben-info-txt{
        font-size: 65%;
    }

    .ben-info-1,.ben-info-2,.ben-info-3,.ben-info-4,.ben-info-5{
        width: 45%;
    }

    .ben-img{
        width: 70%;
    }

    .left-line,.right-line{
        display: none !important;
    }

    .blue-circle{
        display: block;
    }

        /* Application Head */

        .App-head{
            height: 35px;
            margin-top: 50px;
        }

        .head-box{
            width: 26%;
        }
        
        .head-box-2 h1{
            font-size: 80%;
            padding-top:10px;
        }
    /* Application slide */

    .drone-app-container{
        height: 350px;
    }

    .slide-head h1{
        font-size: 100%;
    }

    .slide-sub-head-1{
        font-size: 70%;
        padding-left: 0%;
    }


    .slide-sub-head-2{
        font-size: 80%;
        padding-right: 0;
        margin-left: 10%;
    }

    .slide-info-font{
        font-size: 60%;
    }

    .but-container{
        width: 100px;
        left: 50%;
        transform: translate(-50%,-5%);
    }

    .indicator{
        width: 9px;
        height: 9px;
        margin: 0 4px;
    }

    .indicators{
        bottom: 3%;
    }
}



@media(max-width:400px){

    .ben-head-box{
        width: 18%;
    }
    .ben-head-box-2 h1{
        font-size: 70%;
        padding-top: 9px;
    }

    .ben-img{
        width:80% ;
    }

    /* Benefits Container */

    .ben-container{
        height:550px;
        gap: 2%;
    }
    
    .ben-info-head{
        font-size: 70%;
    }
    
    .ben-info-txt{
        font-size: 55%;
    }

    .blue-circle{
        top: 45%;
        height: 132%;
    }

    
        /* Application Head */

        .App-head{
            height: 30px;
            margin-top: 20px;
        }

        .head-box{
            width: 30%;
        }
        
        .head-box-2 h1{
            font-size: 70%;
        }

    /* Application slide */

    .drone-app-container{
        height: 220px;
    }

    .slide-head h1{
        font-size: 70%;
        padding-top: 9px;
    }

    .slide-sub-head-1{
        font-size: 50%;
        padding-left: 0%;
    }


    .slide-sub-head-2{
        font-size: 50%;
        padding-right: 0;
        margin-left: 10%;
    }

    .slide-info-font{
        font-size: 45%;
    }

    .but-container{
        width: 70px;
    }

    .indicator{
        width: 7px;
        height: 7px;
        margin: 0 3px;
    }

    .indicators{
        bottom: 3%;
    }
}





