@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
.logoName {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoName h1 {
  margin: 0;
  color: #fff;
  font-family: cambria;
  font-size: 1.875rem;
  font-weight: 400;
}
.navbar-brand img {
  width: 50px;
  height: 50px;
}
.container-fluid {
  /* background-color: black; */
  position: relative;
  padding: 0;
  display: flex;
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

  * {
    margin: 0;
    padding: 0;
  }
  .logoName {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logoName h1 {
    margin: 0;
    color: #fff;
    font-family: cambria;
    font-size: 1.875rem;
    font-weight: 400;
  }
  .navbar-brand img {
    width: 50px;
    height: 50px;
  }
  .container-fluid {
    /* background-color: black; */
    position: relative;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  .navbar {
    z-index: 50;
    /* height: 80px; */
    width: 100%;
    top: 0px;
    position: absolute;
    /* padding: 0 !important; */
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.7);
    background: black !important;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .nav-item {
    position: relative !important;
    color: #fff !important;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
  }
  .nav-ul {
    width: 40%;
    margin-left: auto;
    /* margin-right: 0.5rem; */
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
  }
  .nav-link {
    padding: 0 !important;
    /* color: #000; */
    color: #fff !important;
    display: inline-block;
    position: relative;
  }
  .active {
    color: #1ed662 !important;
  }
  .nav-admission {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 108px; */
    height: 90px;
    width: 195px;
    background-color: #f5a710;
    color: rgba(17, 17, 17, 0.99);
    font-family: League Spartan;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
  }
  .nav-admission p {
    margin: 0;
  }
  .navbar-toggler-icon {
    height: 1em;
    width: 1em;
  }
  .navbar-toggler {
    margin-left: 12px;
  }
  .toggler-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #admi-mob {
    display: none;
  }
  #admi-dek {
    display: flex;
  }

  .dropdown-menu {
    min-width: 8.5rem;
    background: rgba(138, 135, 137);
    border: 1px solid #ccc; /* Border color of the dropdown menu */
  }

  .dropdown-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    height: 33px;
    padding: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 1px;
    /* background: rgba(138, 135, 137, 0.60); */
    font-family: "League Spartan";
    font-size: 0.9rem;
    font-weight: 400;
  }

  .dropdown-item:hover {
    background-color: #f5a710; /* Background color when hovering over dropdown items */
    color: #fff; /* Text color when hovering over dropdown items */
  }
  .dropdown-toggle::after {
    border: 0 !important;
  }
  .dropdown-menu[data-bs-popper] {
    left: -25px;
    top: 201%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .dropdown-menu a:hover:after {
    width: 0;
    left: 0;
  }
  .li-mob {
    display: none;
  }
  .parkdown {
    display: inline;
  }
  .navliGif {
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 20%;
    margin-right: 18%;
  }
  #hamburgerBack {
    display: none;
  }

  .productsDrop {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 8%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 315px;
    background: #000;
  }
  .servicesDrop {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 8%;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 315px;
    background: #000;
  }
  .servicesDropCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 360px;
    /* width: 100%; */
    height: 315px;
  }
  .srow {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
  }
  .servicesDrop .r3 {
    padding: 0 15%;
  }
  .productsDrop .r3 {
    padding: 0 15%;
  }
  .rbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 104px;
    height: 89px;
    border-radius: 5px;
    background: rgba(11, 26, 22, 0.75);
  }
  .rgif {
    width: 4rem;
    height: auto;
  }
  .rHead {
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-weight: 400;
  }
  /* .dropProM:hover .productsDrop{
        display: flex !important;
        top: 0;
    }
    .dropSerM:hover .servicesDrop{
        display: flex !important;
        top: 0;
    } */
  .dropdownS:hover .dropdownServices {
    display: flex;
  }
  .dropdownS:hover .dropdownS .nav-link {
    color: #1ed662 !important;
  }
  /* .dropdownP:hover .dropdownProducts {
        display: flex;
    } */

  .dropdownProducts {
    top: 10vh;
    /* left: -1812%; */
    display: none;
    position: absolute;
    z-index: 90;
    height: 80vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    /* background-color: rebeccapurple; */
    opacity: 1;
    justify-content: space-between;
    color: #fff;
    margin-top: -10px;
  }

  .dropdownServices {
    top: 10vh;
    /* left: -1645%; */
    display: none;
    position: absolute;
    z-index: 90;
    height: 80vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 1;
    justify-content: space-between;
    color: #fff;
    margin-top: -10px;
  }

  .dropdownProducts .left,
  .dropdownServices .left {
    width: 55%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #servicesGif,
  #productsGif {
    width: 200px;
    height: auto;
    position: relative;
  }

  #servicesH1,
  #productsH1 {
    margin: 0;
    color: #fff;
    width: fit-content;
    text-align: center;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 3px solid #1ed662;
    margin-bottom: 1.5rem;
  }

  #servicesP,
  #productsP {
    margin: 0;
    color: #fff;
    width: 50ch;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
  }

  .dropdownProducts .right,
  .dropdownServices .right {
    display: flex;
    justify-content: center;
    width: 35%;
    height: 100%;
    /* background-color: red; */
  }

  .gridOptions {
    margin-top: 20%;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 46px 46px 46px 46px;
    gap: 5px;
  }

  #equi {
    grid-column: span 2;
  }

  .item {
    /* background-color: lightblue; */
    display: grid;
    place-items: center;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
  }

  .item:hover {
    background-color: rgba(41, 62, 47, 0.9);
  }

  @media (min-width: 992px) {
    .nav-ul {
      width: 450px;
    }
  }

  @media only screen and (max-width: 1030px) {
    .navbar .container-fluid {
      justify-content: space-between;
    }
    .navbar-collapse {
      flex-grow: 0;
      flex-basis: auto;
    }
    .navbar {
      display: flex;
      margin: 0;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      width: 100%;
    }
  }
  /* Tab */
  @media only screen and (max-width: 990px) {
    .navbar {
      top: 0;
    }
    .navbar .container-fluid {
      justify-content: space-between;
    }
    .navliGif {
      display: block;
    }
    .toggler-logo {
      padding: 20px 0;
    }
    .brand {
      width: 100%;
      position: absolute;
      top: 5px;
      left: 0;
    }
    .navbar-toggler {
      z-index: 60;
    }
    .logoName {
      margin-left: 0;
    }
    .parkdown {
      display: none;
    }
    .nav-ul {
      /* width: 125%; */
      width: 100%;
    }
    .toggler-logo {
      width: 100%;
    }
    .navbar-collapse {
      transition: height 0s;
      height: 100vh;
      /* overflow-y: hidden !important; */
      width: 100%;
      flex-grow: 0;
      flex-basis: auto;
      padding-top: 5%;
    }
    .navbar {
      display: flex;
      margin: 0;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      width: 100%;
      /* height: 45px; */
    }
    .nav-item {
      cursor: pointer;
      position: relative;
      display: flex;
      /* justify-content: center; */
      align-items: center;
      /* width: 4000%; */
      /* background-color: red; */
      margin: 5% 0;
      color: #fff;
      font-family: Montserrat;
      font-size: 1.5rem !important;
      font-style: normal;
      font-weight: 400;
    }
  }

  @media only screen and (max-width: 500px) {
    .navbar {
      top: 0;
    }
    .navbar .container-fluid {
      justify-content: space-between;
    }
    .toggler-logo {
      width: 100%;
    }
    .navbar-collapse {
      flex-grow: 0;
      flex-basis: auto;
    }
    .navbar {
      display: flex;
      margin: 0;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      width: 100%;
      /* height: 45px; */
    }
    .nav-admission {
      display: flex !important;
      margin-right: 11px;
      height: 40px;
      width: 100px;
      margin-left: 14px;
      /* font-size: 7px; */
      font-size: 0.7rem;
      border-radius: 10px;
    }
    .nav-admission p {
      margin: 0;
    }
    .nav-item {
      /* margin-left: 14px; */
      color: #000;
      font-family: League Spartan;
      /* font-size: 12px; */
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      /* padding: 10% 0; */
    }
  }

  a {
    text-decoration: none;
    color: white !important;
  }

  justify-content: space-around;
}
.navbar {
  z-index: 50;
  /* height: 80px; */
  width: 100%;
  top: 0px;
  position: absolute;
  /* padding: 0 !important; */
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.7);
  background: black !important;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}
.nav-item {
  position: relative !important;
  color: #fff !important;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
}
.nav-ul {
  width: 40%;
  margin-left: auto;
  /* margin-right: 0.5rem; */
  /* width: 100%; */
  display: flex;
  justify-content: space-evenly;
}
.nav-link {
  padding: 0 !important;
  /* color: #000; */
  color: #fff !important;
  display: inline-block;
  position: relative;
}
.active {
  color: #1ed662 !important;
}
.nav-admission {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 108px; */
  height: 90px;
  width: 195px;
  background-color: #f5a710;
  color: rgba(17, 17, 17, 0.99);
  font-family: League Spartan;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}
.nav-admission p {
  margin: 0;
}
.navbar-toggler-icon {
  height: 1em;
  width: 1em;
}
.navbar-toggler {
  margin-left: 12px;
}
.toggler-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#admi-mob {
  display: none;
}
#admi-dek {
  display: flex;
}

.dropdown-menu {
  min-width: 8.5rem;
  background: rgba(138, 135, 137);
  border: 1px solid #ccc; /* Border color of the dropdown menu */
}

.dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  height: 33px;
  padding: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 1px;
  /* background: rgba(138, 135, 137, 0.60); */
  font-family: "League Spartan";
  font-size: 0.9rem;
  font-weight: 400;
}

.dropdown-item:hover {
  background-color: #f5a710; /* Background color when hovering over dropdown items */
  color: #fff; /* Text color when hovering over dropdown items */
}
.dropdown-toggle::after {
  border: 0 !important;
}
.dropdown-menu[data-bs-popper] {
  left: -25px;
  top: 201%;
  padding: 0;
  margin: 0;
  text-align: center;
}
.dropdown-menu a:hover:after {
  width: 0;
  left: 0;
}
.li-mob {
  display: none;
}
.parkdown {
  display: inline;
}
.navliGif {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 20%;
  margin-right: 18%;
}
#hamburgerBack {
  display: none;
}

.productsDrop {
  display: none;
  position: absolute;
  top: 0;
  margin-top: 8%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 315px;
  background: #000;
}
.servicesDrop {
  display: none;
  position: absolute;
  top: 0;
  margin-top: 8%;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 315px;
  background: #000;
}
.servicesDropCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 360px;
  /* width: 100%; */
  height: 315px;
}
.srow {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}
.servicesDrop .r3 {
  padding: 0 15%;
}
.productsDrop .r3 {
  padding: 0 15%;
}
.rbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 104px;
  height: 89px;
  border-radius: 5px;
  background: rgba(11, 26, 22, 0.75);
}
.rgif {
  width: 4rem;
  height: auto;
}
.rHead {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.75rem;
  font-weight: 400;
}
/* .dropProM:hover .productsDrop{
    display: flex !important;
    top: 0;
}
.dropSerM:hover .servicesDrop{
    display: flex !important;
    top: 0;
} */
.dropdownS:hover .dropdownServices {
  display: flex;
}
.dropdownS:hover .dropdownS .nav-link {
  color: #1ed662 !important;
}
/* .dropdownP:hover .dropdownProducts {
    display: flex;
} */

.dropdownProducts {
  top: 10vh;
  /* left: -1812%; */
  display: none;
  position: absolute;
  z-index: 90;
  height: 80vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  /* background-color: rebeccapurple; */
  opacity: 1;
  justify-content: space-between;
  color: #fff;
  margin-top: -10px;
}

.dropdownServices {
  top: 10vh;
  /* left: -1645%; */
  display: none;
  position: absolute;
  z-index: 90;
  height: 80vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1;
  justify-content: space-between;
  color: #fff;
  margin-top: -10px;
}

.dropdownProducts .left,
.dropdownServices .left {
  width: 55%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#servicesGif,
#productsGif {
  width: 200px;
  height: auto;
  position: relative;
}

#servicesH1,
#productsH1 {
  margin: 0;
  color: #fff;
  width: fit-content;
  text-align: center;
  font-family: Poppins;
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 3px solid #1ed662;
  margin-bottom: 1.5rem;
}

#servicesP,
#productsP {
  margin: 0;
  color: #fff;
  width: 50ch;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
}

.dropdownProducts .right,
.dropdownServices .right {
  display: flex;
  justify-content: center;
  width: 35%;
  height: 100%;
  /* background-color: red; */
}

.gridOptions {
  margin-top: 20%;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 46px 46px 46px 46px;
  gap: 5px;
}

#equi {
  grid-column: span 2;
}

.item {
  /* background-color: lightblue; */
  display: grid;
  place-items: center;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
}

.item:hover {
  background-color: rgba(41, 62, 47, 0.9);
}
@media only screen and (max-width: 1030px) {
  .navbar .container-fluid {
    justify-content: space-between;
  }
  .navbar-collapse {
    flex-grow: 0;
    flex-basis: auto;
  }
  .navbar {
    display: flex;
    margin: 0;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
  }
}
/* Tab */
@media only screen and (max-width: 990px) {
  .navbar {
    top: 0;
  }
  .navbar .container-fluid {
    justify-content: space-between;
  }
  .navliGif {
    display: block;
  }
  .toggler-logo {
    padding: 10px 0;
  }
  .brand {
    width: 100%;
    position: absolute;
    top: 5px;
    left: 0;
  }
  .navbar-toggler {
    z-index: 60;
  }
  .logoName {
    margin-left: 0;
  }
  .parkdown {
    display: none;
  }
  .nav-ul {
    /* width: 125%; */
    width: 100%;
  }
  .toggler-logo {
    width: 100%;
  }
  .navbar-collapse {
    transition: height 0s;
    height: 100vh;
    /* overflow-y: hidden !important; */
    width: 100%;
    flex-grow: 0;
    flex-basis: auto;
    padding-top: 5%;
  }
  .navbar {
    display: flex;
    margin: 0;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    /* height: 45px; */
  }
  .nav-item {
    cursor: pointer;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* width: 4000%; */
    /* background-color: red; */
    margin: 5% 0;
    color: #fff;
    font-family: Montserrat;
    font-size: 1.5rem !important;
    font-style: normal;
    font-weight: 400;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    top: 0;
  }
  .navbar .container-fluid {
    justify-content: space-between;
  }
  .toggler-logo {
    width: 100%;
  }
  .navbar-collapse {
    flex-grow: 0;
    flex-basis: auto;
  }
  .navbar {
    display: flex;
    margin: 0;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    /* height: 45px; */
  }
  .nav-admission {
    display: flex !important;
    margin-right: 11px;
    height: 40px;
    width: 100px;
    margin-left: 14px;
    /* font-size: 7px; */
    font-size: 0.7rem;
    border-radius: 10px;
  }
  .nav-admission p {
    margin: 0;
  }
  .nav-item {
    /* margin-left: 14px; */
    color: #000;
    font-family: League Spartan;
    /* font-size: 12px; */
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* padding: 10% 0; */
  }
}

a {
  text-decoration: none;
  color: white !important;
}
