@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  background-color: #161616;
}
.topBg {
  margin-top: 80px;
  width: 100%;
  height: 33rem;
  position: relative;
}
#video-background {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.topBg img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.topBgContent {
  /* background-color: rebeccapurple; */
  margin-left: 4rem;
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 5;
}
.topBgContent h1 {
  width: fit-content;
  color: #fff;
  text-align: right;
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 1rem;
}
.topBgContent p {
  width: fit-content;
  margin: 0;
  color: #fff;
  text-align: left;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 400;
}
.introAnimation {
  position: relative;
  width: 100%;
  height: 85vh;
  background-image: url("./Images/seAnimBg.png");
}
.greebBoxleft {
  width: 7.0625rem;
  height: 4.1875rem;
  border-bottom-right-radius: 1.5625rem;
  border-top-right-radius: 1.5625rem;
  background: #1ed760;
  position: absolute;
  top: 13%;
  left: 0%;
}
#topleftCircle {
  position: absolute;
  top: 15%;
  left: 10%;
}
#toprightCircle {
  position: absolute;
  top: 15%;
  right: 0;
}
#Ellipse {
  position: absolute;
  top: 15%;
  right: 13%;
}
#EllipsePhoto {
  position: absolute;
  top: 19%;
  right: 14.5%;
  z-index: 2;
}
#circle1 {
  z-index: 3;
  position: absolute;
  top: 12%;
  right: 23%;
}
#circle2 {
  z-index: 3;
  position: absolute;
  top: 40%;
  right: 33%;
}
#circle3 {
  z-index: 3;
  position: absolute;
  top: 72%;
  right: 23%;
}
.emptyBox {
  width: 23.0625rem;
  height: 4.1875rem;
  border-bottom-right-radius: 1.5625rem;
  border-top-right-radius: 1.5625rem;
  background: #f9ac07;
  position: absolute;
  top: 72%;
  left: 0;
}
.seBox {
  position: absolute;
  top: 82%;
  right: 8%;
  width: 16.6875rem;
  height: 4.375rem;
  border-radius: 1.5625rem;
  background: #1ed760;
  display: grid;
  place-items: center;
}
.seBox h1 {
  margin: 0;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 600;
}
.contentBox {
  position: absolute;
  top: 36%;
  right: 40%;
  border-radius: 1.5625rem;
  background: #f9ac07;
  width: 43.0625rem;
  min-height: 6.375rem;

  height: fit-content;
  padding: 1rem 0;
  display: grid;
  place-items: center;
}
.contentBox p {
  margin: 0;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 400;
  transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}

.wcu {
  height: 100vh;
  width: 100%;
  /* background-color: lightpink; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wcu .wcuH {
  margin: 0;
  padding: 3%;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 600;
}
.wcuContent {
  height: 65vh;
  width: 75%;
  /* background-color: lightcyan; */
  display: flex;
}
.left {
  width: 50%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.right {
  width: 50%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.point {
  display: flex;
  width: 100%;
  height: 30%;
  margin-bottom: 2rem;
  /* background-color: lightseagreen; */
}
.lbox {
  width: 0.875rem;
  height: 5.125rem;
  background-color: #1ed760;
  margin-right: 15px;
}
.pcH {
  margin-top: 0px;
  color: #1ed760;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 800;
}
.pcP {
  width: 40ch;
  margin: 0;
  color: #fff;
  text-align: left;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 500;
}
.ourServicesDes {
  display: block;
}
.ourServicesMob {
  display: none !important;
}
.ourServices {
  height: auto;
  width: 100%;
  background-color: #161616;
  display: grid;
  place-items: center;
}

.osHead {
  padding-top: 4rem;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 800;
}

.grid-container {
  color: #fff;
  /* background-color: red; */
  display: grid;
  /* place-items: center; */
  grid-template-columns: 30vw 30vw 30vw;
  grid-template-rows: 35vh 30vh 30vh 40vh;
  gap: 5px;
}

.itemm {
  position: relative;
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.itemm:nth-child(5) {
  grid-row: span 2;
  /* Merging two rows */
}

.itemm h1 {
  margin: 0;
  margin-bottom: 1rem;
  color: #1ed760;
  text-align: center;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
}

.itemm p {
  margin: 0;
  max-width: 21rem;
  text-align: center;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
}

.wire {
  max-width: 20vw;
  height: auto;
}

.abs {
  position: absolute;
  z-index: 3;
}

.csd {
  top: -10vh;
  left: 12.65vw;
}

.dad {
  bottom: -6vh;
  left: 11vw;
}

.mad {
  top: 2.25vh;
  left: -1.25vw;
}

.wad {
  bottom: 11.5vh;
  left: -1.25vw;
}

.po {
  top: 12vh;
  right: -2.5vw;
}

.mas {
  bottom: 10vh;
  right: -2.5vw;
}
@media only screen and (min-width: 768px) and (max-width: 1366px) {
  /* Your styles for tablets, including iPad Pro */
  .ourServicesDes {
    display: none !important;
  }
  .ourServicesMob {
    display: block !important;
  }
  .topBg {
    height: 400px;
  }
  .topBgContent {
    top: 40%;
    margin-left: 2rem;
  }
  .topBgContent h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  .topBgContent p {
    font-size: 1rem;
  }
  .introAnimation {
    height: 620px;
  }
  .greebBoxleft {
    width: 2.5rem;
    height: 1.25rem;
    width: 6.0625rem;
    height: 3.1875rem;
    top: 13%;
    left: 0%;
  }
  #topleftCircle {
    top: 13.5%;
    left: 15%;
  }
  #toprightCircle {
    top: 13%;
    right: 0;
  }
  #Ellipse {
    top: 18%;
    right: 7%;
    height: 300px;
    width: 300px;
  }
  #EllipsePhoto {
    top: 21.5%;
    right: 10%;
    z-index: 2;
    height: 260px;
    width: 260px;
  }
  #circle1 {
    top: 15%;
    right: 23.5%;
  }
  #circle2 {
    top: 38%;
    right: 42%;
    height: 50px;
    width: 50px;
  }
  #circle3 {
    top: 63%;
    right: 23.5%;
  }
  .emptyBox {
    background: #f9ac07;
    position: absolute;
    top: 75%;
    left: 0;
  }
  .seBox {
    top: 83%;
    right: 8%;
    background: #1ed760;
  }
  .contentBox {
    width: 22.375rem;
    height: 5.9375rem;
    top: 34%;
    right: 50%;
  }
  .contentBox p {
    font-size: 0.8rem;
  }
  .wcuContent {
    flex-direction: column;
  }
  .ourServicesMob {
    display: flex;
    flex-direction: column;
  }
  .ourServices {
    height: auto;
    width: 100%;
    /* background-color: darkblue; */
    /* background-color: #161616; */
    display: grid;
    place-items: center;
  }

  .osHead {
    padding-top: 2rem;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 800;
  }

  .grid-container {
    color: #fff;
    /* background-color: red; */
    display: grid;
    /* place-items: center; */
    grid-template-columns: 30vw 30vw 30vw;
    /* grid-template-rows: 35vh 30vh 30vh 40vh; */
    grid-template-rows: 170px 170px 170px 170px;
    gap: 5px;
  }

  .itemm {
    position: relative;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .itemm:nth-child(5) {
    grid-row: span 2;
    /* Merging two rows */
  }

  .itemm h1 {
    margin: 0;
    color: #1ed760;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .itemm p {
    margin: 0;
    max-width: 21rem;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 400;
  }
  .wire {
    max-width: 250px;
    height: auto;
  }
  .belowGrid {
    margin-top: 2rem;
    width: 94%;
    margin-left: 3%;
  }
  .belowGrid .itemm {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .belowGrid .itemm h1 {
    text-align: left !important;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .belowGrid .itemm p {
    max-width: 100%;
    color: white;
    text-align: justify;
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
  .wcu {
    height: auto;
  }
  .wcuContent {
    height: auto;
    width: 94%;
  }
  .wcu .wcuH {
    font-family: Poppins;
    font-weight: 600;
  }
  .left {
    width: 100%;
    height: 100%;
  }
  .right {
    width: 100%;
    height: 100%;
  }
  .lbox {
    width: 15px;
  }
  .pcH {
    font-family: Poppins;
    font-weight: 800;
  }
  .pContent {
    width: 100%;
    height: auto;
  }
  .pcP {
    width: auto;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .ourServicesDes {
    display: none !important;
  }
  .ourServicesMob {
    display: block !important;
  }
  #Ellipse {
    top: 18%;
    right: 7%;
    height: 300px;
    width: 300px;
  }
  #EllipsePhoto {
    top: 21.5%;
    right: 9%;
    z-index: 2;
    height: 260px;
    width: 260px;
  }
  #circle1 {
    top: 15%;
    right: 20.5%;
  }
  #circle2 {
    top: 38%;
    right: 35%;
    height: 50px;
    width: 50px;
  }
  #circle3 {
    top: 63%;
    right: 20.5%;
  }
  .contentBox {
    width: 30.375rem;
    height: 5.9375rem;
    top: 34%;
    right: 45%;
  }
  .contentBox p {
    font-size: 1rem;
  }
  .ourServicesMob {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  /* Your styles for mobile devices here */
  .ourServicesDes {
    display: none !important;
  }
  .ourServicesMob {
    display: block !important;
  }
  .topBg {
    height: 20vh;
  }
  .topBgContent {
    margin-left: 2rem;
  }
  .topBgContent h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .topBgContent p {
    font-size: 0.625rem;
  }
  .introAnimation {
    height: 250px;
  }
  .greebBoxleft {
    border-bottom-right-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    width: 2.5rem;
    height: 1.25rem;
    top: 13%;
    left: 0%;
  }
  #topleftCircle {
    width: 1.25rem;
    height: 1.25rem;
    top: 13%;
    left: 10%;
  }
  #toprightCircle {
    width: 1.25rem;
    height: 1.25rem;
    top: 15%;
    right: 0;
  }
  #Ellipse {
    width: 6.08956rem;
    height: 6.16775rem;
    top: 20%;
    right: 13%;
  }
  #EllipsePhoto {
    width: 5.24963rem;
    height: 5.31706rem;
    top: 23%;
    right: 14.5%;
    z-index: 2;
  }
  #circle1 {
    width: 0.75rem;
    height: 0.75rem;
    top: 18%;
    right: 23%;
  }
  #circle2 {
    width: 1.0625rem;
    height: 1.0625rem;
    top: 37%;
    right: 36%;
  }
  #circle3 {
    width: 0.75rem;
    height: 0.75rem;
    top: 59%;
    right: 23%;
  }
  .emptyBox {
    width: 6.5rem;
    height: 1.25rem;
    border-bottom-right-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    background: #f9ac07;
    position: absolute;
    top: 72%;
    left: 0;
  }
  .seBox {
    top: 80%;
    right: 8%;
    width: 4.8125rem;
    height: 1.5625rem;
    border-radius: 0.375rem;
    background: #1ed760;
  }
  .seBox h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.5rem;
    font-weight: 600;
  }
  .contentBox {
    width: 12.375rem;
    min-height: 2.9375rem;
    height: auto;
    top: 25.5%;
    right: 42%;
    border-radius: 0.625rem;
  }
  .contentBox p {
    font-size: 0.625rem;
  }
  .ourServicesMob {
    display: flex;
    flex-direction: column;
  }
  .ourServices {
    height: auto;
    width: 100%;
    /* background-color: darkblue; */
    /* background-color: #161616; */
    display: grid;
    place-items: center;
  }

  .osHead {
    padding-top: 2rem;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 800;
  }

  .grid-container {
    color: #fff;
    /* background-color: red; */
    display: grid;
    /* place-items: center; */
    grid-template-columns: 30vw 30vw 30vw;
    /* grid-template-rows: 35vh 30vh 30vh 40vh; */
    grid-template-rows: 90px 90px 90px 90px;
    gap: 5px;
  }

  .itemm {
    position: relative;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .itemm:nth-child(5) {
    grid-row: span 2;
    /* Merging two rows */
  }
  .itemm img {
    height: 40px;
    max-width: 50px;
  }
  .itemm h1 {
    margin: 0;
    color: #1ed760;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.7rem;
    font-weight: 500;
  }

  .itemm p {
    margin: 0;
    max-width: 21rem;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 400;
  }
  .wire {
    max-width: 130px !important;
    height: auto !important;
  }
  .belowGrid {
    margin-top: 2rem;
    width: 94%;
    margin-left: 3%;
  }
  .belowGrid .itemm {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .belowGrid .itemm h1 {
    text-align: left !important;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .belowGrid .itemm p {
    max-width: 100%;
    color: white;
    text-align: justify;
    margin-bottom: 2rem;
    font-size: 0.8rem;
  }
  .wcuContent {
    flex-direction: column;
  }

  .wcu {
    height: auto;
    /* background-color: lightpink; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wcu .wcuH {
    margin: 0;
    padding: 3%;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
  }
  .wcuContent {
    height: auto;
    width: 94%;
    /* background-color: lightcyan; */
    display: flex;
  }
  .left {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .right {
    width: 100%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .point {
    display: flex;
    width: 100%;
    height: 30%;
    margin-bottom: 2rem;
    /* background-color: lightseagreen; */
  }
  .lbox {
    width: 12px;
    height: 4.125rem;
    background-color: #1ed760;
    margin-right: 15px;
  }
  .pcH {
    margin-top: 0px;
    color: #1ed760;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 800;
  }
  .pContent {
    width: 100%;
    height: auto;
  }
  .pcP {
    width: auto;
    margin: 0;
    color: #fff;
    text-align: left;
    font-family: Montserrat;
    font-size: 0.8rem;
    font-weight: 500;
  }
}
